:root {
    --body-background-color: rgb(34, 34, 34);
    --navbar-background-color: rgb(6, 6, 6);
    --authorization-form-background-color: rgb(18, 18, 18);
    --password-container-background-color: rgb(22, 22, 22);
    --input-background-color: rgb(14, 14, 14);
    --search-bar-background-color: rgb(22, 22, 22);
    --password-card-background-color: rgb(22, 22, 22);
    --dropdown-background-color: rgb(14, 14, 14);
}