button {
    font-family: 'Space Grotesk', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    outline: none;
    border: none;
}

.auth-button {
    width: 300px;
    height: 44px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    border-radius: 16px;
}