.password-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 20px;
}

.password-card {
    display: grid;
    place-content: center;
    position: relative;
    height: 210px;
    background-color: var(--password-card-background-color);
    border-radius: 12px;

    .title {
        font-size: 20px;
        font-weight: 700;
    }
}

.add-new-password {
    cursor: pointer;
}