@section styles {
    <link rel="stylesheet" href="~/styles/pages/auth.css">
}

<div class="authorization-form" x-data="auth">
    <div class="left-side">
        <p class="title">Authorization</p>
        <p class="text">Authorize with one of the social media applications to store your passwords</p>
        <div class="background"></div>
    </div>
    <div class="right-side">
        <div class="auth-buttons">
            <button class="auth-button discord" x-on:click="redirectToDiscord">Discord</button>
            <button class="auth-button apple">Apple</button>
        </div>
    </div>
</div>